{% macro Video(url, attrs) %}
{% set caption = '' %}
{% if (typeof attrs !== 'undefined') && (typeof attrs.caption !== 'undefined') %}
{% do caption = attrs.caption %}
{% endif %}
<div class="video">
    This is a video url: <code>{{ url }}</code>
{% if caption %}
{{ VideoCaption(caption) }}
{% endif %}
</div>
{% endmacro %}
{% macro VideoCaption(caption) %}
<div class="video_caption">{{ caption }}</div>
{% endmacro %}
{% macro YouTube(url, attrs) %}
{% set caption = '' %}
{% if (typeof attrs !== 'undefined') && (typeof attrs.caption !== 'undefined') %}
{% do caption = attrs.caption %}
{% endif %}
{@<script>
    let embedUrl = 'https://www.youtube.com/embed/';
    if(url.split('youtu.be').length > 1) {
        embedUrl += url.split('/')[3];
    } else {
        const id = url.split('?')[1].split('v=')[1].split('&')[0];
        embedUrl += id;
    }
</script>@}
<div class="video embed">
<iframe src="{{ embedUrl }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{% if caption %}
    {{ VideoCaption(caption) }}
{% endif %}
</div>
{% endmacro %}
